
<%# ヘッダー %>
<%= render "shared/header" %>
<%# サイドバー %>
<%= render "menu/side"%>

<%# 自主トレフォーム %>
<div class="creat-menu">
  <%= form_with url: preview_menu_index_path,method: :post,local: true do |f| %>
  <div class ="form">
  <div class ="menu_form">名前:<%=f.text_field :name , class:"name_form",placeholder:"利用者名を入力",autocomplete: 'off'%></div>
    <%=f.hidden_field :tid,  id:"tid"%>
    <%=f.hidden_field :tid1, id:"tid1"%>
    <%=f.hidden_field :tid2, id:"tid2"%>
    <%=f.hidden_field :tid3, id:"tid3"%>
    <%= image_submit_tag("preview.png",class:"menu_btn",formtarget:"blank")%>
  </div>


  <div class="menu-edit" >
   <div class="number_frequency">
    <div class ="not_editer">
        <div class="menu_number">回数</div>
        <%=f.text_field :number ,class:"number_select",value:"10",type:"number"%>
        <div class="number_times">回</div>
        <div class="menu_frequency">頻度</div>
        <%= f.text_field  :frequency_select, id: "frequency_select", class: "frequency_select",value:"3",type:"number"  %>
        <div class="set_count">セット</div>
     </div>
     <div class= "menu-editor"></div>
   </div>
      <div class="number_frequency">
     <div class ="not_editer">
        <div class="menu_number">回数</div>
        <%=f.text_field :number1 ,class:"number_select",value:"10",type:"number"%>
        <div class="number_times">回</div>
        <div class="menu_frequency">頻度</div>
        <%= f.text_field  :frequency_select1, id: "frequency_select", class: "frequency_select",value:"3",type:"number"  %>
        <div class="set_count">セット</div>
     </div>
     <div class= "menu-editor"></div>
   </div>
      <div class="number_frequency">
     <div class ="not_editer">
        <div class="menu_number">回数</div>
        <%=f.text_field :number2 ,class:"number_select",value:"10",type:"number"%>
        <div class="number_times">回</div>
        <div class="menu_frequency">頻度</div>
        <%= f.text_field  :frequency_select2, id: "frequency_select", class: "frequency_select",value:"3",type:"number"  %>
        <div class="set_count">セット</div>
     </div>
     <div class= "menu-editor"></div>
   </div>
      <div class="number_frequency">
     <div class ="not_editer">
        <div class="menu_number">回数</div>
        <%=f.text_field :number3 ,class:"number_select",value:"10",type:"number"%>
        <div class="number_times">回</div>
        <div class="menu_frequency">頻度</div>
        <%= f.text_field  :frequency_select3, id: "frequency_select", class: "frequency_select",value:"3",type:"number"  %>
        <div class="set_count">セット</div>
     </div>
     <div class= "menu-editor"></div>
   </div>
  </div>
  
   <% end %>
</div >

<%# 自主トレ一覧 %>
<div class="training-all">
<div class ="count_index">
  <div class ="display_list"><%= @counts%></div>
  <div class ="display_counts"><%= "件表示/#{@counts}件中"%></div>
 </div>

 
    <div class="training">
      <% @training.each do |training| %>
      <div class = "training_list">
        <div class = "training_image" draggable="true" >
           <%=image_tag training.image4,draggable:"false",data:{tid:training.id} %>
           <p class ="training_id">
             <%= link_to menu_path(training.id), class:"training_title",remote: true do  %>
             <%= training.training_title%>
             <% end%>
               <%= check_box_tag :invalid_flag, value = "stretch", training.stretch ,disabled:"disabled",class:"invalid_flag",type:"hidden"%>
               <%= check_box_tag :invalid_flag, value = "muscle_training", training.muscle_training ,disabled:"disabled",class:"invalid_flag",type:"hidden"%>
               <%= check_box_tag :invalid_flag, value = "stability", training.stability ,disabled:"disabled",class:"invalid_flag",type:"hidden"%>
             <%= button_tag "追加",class:"addbutton"%>
           </p> 
        </div>
      </div>
      <% end %>
    </div>
</div>

<%# 詳細ページのモーダル %>
<%# # モーダルの周囲を薄暗くするマスク %>
  <div id="mask" class="hidden"></div>
<%# # あとからJavaScriptで<div>内のコードをshowビューのコードに置き換えます。 %>
  <div id="modal" class="hidden">
    <p>モーダルウィンドウ<p>
  </div>


