<%# <%= render "shared/header" %> %>
<div class="new_training-information">
    <%= form_with model: @training,url: menu_index_path, method: :post, local: true do |f|%>
      <div class="show_mascle-information">

        <div class="new_information">
          <%=f.label :image, "画像をアップロード", class: "image_input_btn"%>
            <%= f.file_field :image , class: "image_form"%>
             <%# プレビュー画面のコード %>
            <div id="image-list"></div>
            <%# --------------------------- %>
          <div class="form-group">
            <div class="form-text-wrap">
              <label class="form-text">タイトル</label>
              <span class="indispensable">必須</span>
            </div>
            <%= f.text_field :training_title,  placeholder:"自主トレーニングタイトル", maxlength:"15",class:"menu_title_form" %>
          </div>


          <div>対象筋:<%= f.text_field :mascle_name,  placeholder:"対象の部位を入力", maxlength:"40" %></div>
          <div>作用:<%= f.text_area :explanation,  placeholder:"筋肉の作用やトレーニング効果を入力", maxlength:"40" %></div>
        </div>

        <%# フィルター %>
        <div class = "new_filter_form">
          <div class="new_joint_filter">フィルター</div>
            <ul>上肢
                <li><%= f.check_box :shoulder %>肩関節</li>
                <li><%= f.check_box :elbow %>肘関節</li>
                <li><%= f.check_box :hand_fingers %>手関節・手指</li>
            </ul>
            <ul>下肢
                <li><%= f.check_box :hip %>股関節</li>
                <li><%= f.check_box :knee %>膝関節</li>
                <li><%= f.check_box :ankle %>足関節</li>
            </ul>
            <ul>体幹
                <li><%= f.check_box :front_trank %>体幹前面</li>
                <li><%= f.check_box :back_trank %>体幹後面</li>
                <li><%= f.check_box :composite %>複合・その他</li>
            </ul>
        </div>
    </div>

    <div class="show-training-detail">
      <ul class="flow">

        <li>
          <span class="icon">STEP.01</span>
          <dl>
            <dt>              
              <%= f.file_field :image1,class:"preview-uploader"%>
              <%# プレビュー画面のコード %>
              <div id="image-list1"></div>
              <%# --------------------------- %></dt>
            <dd>           
              <%= f.text_area :step1_comment,  placeholder:"肢位や運動の注意点を記載",maxlength:"1000" %>
            </dd>
          </dl>
        </li>

        <li>
          <span class="icon">STEP.02</span>
          <dl>
            <dt>              
              <%= f.file_field :image2,class:"preview-uploader"%>
              <%# プレビュー画面のコード %>
              <div id="image-list1"></div>
              <%# --------------------------- %></dt>
            <dd>           
              <%= f.text_area :step2_comment,  placeholder:"肢位や運動の注意点を記載",maxlength:"1000" %>
            </dd>
          </dl>
        </li>

        <li>
          <span class="icon">STEP.03</span>
          <dl>
            <dt>              
              <%= f.file_field :image3,class:""%>
              <%# プレビュー画面のコード %>
              <div id="image-list1"></div>
              <%# --------------------------- %></dt>
            <dd>           
              <%= f.text_area :step3_comment,  placeholder:"肢位や運動の注意点を記載",maxlength:"1000" %>
            </dd>
          </dl>
        </li>

        <li>
          <span class="icon">STEP.04</span>
          <dl>
            <dt>              
              <%= f.file_field :image4,class:""%>
              <%# プレビュー画面のコード %>
              <div id="image-list1"></div>
              <%# --------------------------- %></dt>
            <dd>           
              <%= f.text_area :step4_comment,  placeholder:"肢位や運動の注意点を記載",maxlength:"1000" %>
            </dd>
          </dl>
        </li>
      </ul>
    </div>

    <div class="actions">
      <%= f.submit "保存する", class: :form__btn  %>
    </div>
  <% end %>
</div>