<div class ="hidden-print">
  <input type="submit" value="印刷" class="tes" onclick="window.print();">
</div>
<h1>
  <%if @name.present?%>
    <%= "#{@name}様トレーニングメニュー" %>
  <% end%>
    <div> 
    <%= "作成日:#{Date.today}"%>
  </div>
  </h1>
  <div class ="content-print">
    <% @training.each_with_index do |preview , i| %>
    <div class="individual">
      <div class="training-information">
        <div class="title">
          <div class="training-title">
            <%= preview.training_title%>
          </div>
          <div class="training-frequency">
          <% if i == 0%>
              <div class="number">回数</div>
              <%=@frequency[:number] %>
              <div class="number_times">回</div>
              <div class="frequency">頻度</div>
              <%= @frequency[:frequency_select]%>
              <div class="set_count">セット</div>
          <%end%>
          <% if i == 1%>
              <div class="number">回数</div>
              <%=@frequency[:number1] %>
              <div class="number_times">回</div>
              <div class="frequency">頻度</div>
              <%= @frequency[:frequency_select1]%>
              <div class="set_count">セット</div>
          <%end%>
          <% if i == 2%>
              <div class="number">回数</div>
              <%=@frequency[:number2] %>
              <div class="number_times">回</div>
              <div class="frequency">頻度</div>
              <%= @frequency[:frequency_select2]%>
              <div class="set_count">セット</div>
          <%end%>
          <% if i == 3%>
              <div class="number">回数</div>
              <%=@frequency[:number3] %>
              <div class="number_times">回</div>
              <div class="frequency">頻度</div>
              <%= @frequency[:frequency_select3]%>
              <div class="set_count">セット</div>
          <%end%>

          </div>

        </div>
        <div class="mascle-information">
          <%= image_tag preview.image, class:"muscle-image"%>
          <div class="information">
          <div class="mascle-name">
              対象:<%= preview.mascle_name%>
          </div>
          <div class="explanation">
              作用:<%= preview.explanation%>
          </div>
          </div>
        </div>
      </div>
      <%# 自主トレフローチャート %>
      <div class="training-detail">
      <ul class="flow">
        <li>  
            <span class="icon">STEP.01</span>
            <dl>
             <dt>
              <%= image_tag preview.image1 ,class:"sized" %>
            </dt>
            <dd>
              <%= preview.step1_comment%>
            </dd>
          </dl>
        </li>

          <li>
          <span class="icon">STEP.02</span>
            <dl>
              <dt> 
                <%= image_tag preview.image2 ,class:"sized" %>
            </dt>
              <dd>
                <%= preview.step2_comment%>
            </dd>
          </dl>
        </li>

          <li>
            <span class="icon">STEP.03</span>
            <dl>
              <dt> 
              <%= image_tag preview.image3 ,class:"sized" %>
            </dt>
            <dd>
              <%= preview.step3_comment%>
            </dd>
          </dl>
        </li>

        <li>
          <span class="icon">STEP.04</span>
          <dl>
            <dt> 
              <%= image_tag preview.image4 ,class:"sized" %>
            </dt>
            <dd>
              <%= preview.step4_comment%>
            </dd>
          </dl>
        </li>
      </ul>
      </div>
    </div>
    <div>大崎ミッドタウン リハビリテーション科</div>
    <div class="pagebreak"></div>
    <% end %>
</div>


