<%# ヘッダー %>
<%= render "shared/header" %>
<%# サイドバー %>
<%= render "menu/side" %>
<div class="packge_main_menu">
<%# 自主トレフォーム %>
  <div class="create-menu">
    <%= form_with url: package_index_path ,local: true do |f| %>
        <%# <%= form_with modal:@package,local: true do |f| %> %>
    <div class ="form">
      <%= f.submit(class:"menu_btn",value:"パッケージ登録")%>
    <div class ="menu_form"><%=f.text_field :package_title , class:"name_form",placeholder:"パッケージタイトルを入力",autocomplete: 'off'%></div>
     <button type="button" class="olldelete" >全削除</button>
      <%=f.number_field :package_id,  id:"tid"%>
      <%=f.number_field :package1_id, id:"tid1"%>
      <%=f.number_field :package2_id, id:"tid2"%>
      <%=f.number_field :package3_id, id:"tid3" %>
    <% end %>
    </div>


    <div class="menu-edit" >
      <% 4.times do %>
        <div class="number_frequency">
          <div class= "menu-editor"></div>
        </div>
      <% end%>
    </div>
  </div >

  <%# 自主トレ一覧 %>
  <div class="training-all">
    <div class ="count_index">
      <div class ="display_list"><%= @counts%></div>
      <div class ="display_counts"><%= "件表示/#{@counts}件中"%></div>
    </div>
    <div class="training">
      <% @training.each do |training| %>
        <div class = "training_list">
            <div class="training_title">
              <%= training.training_title%>
            </div>
            <%= link_to menu_path(training.id), remote: true do  %>
            <div class = "training_image" draggable="true" >
              <%=image_tag training.image4,data:{tid:training.id} ,class:"training_img"%>
            </div>
          <% end%>
            <div class ="training_information">
              <%= check_box_tag :invalid_flag, value = "stretch", training.stretch ,disabled:"disabled",class:"invalid_flag",type:"hidden"%>
              <%= check_box_tag :invalid_flag, value = "muscle_training", training.muscle_training ,disabled:"disabled",class:"invalid_flag",type:"hidden"%>
              <%= check_box_tag :invalid_flag, value = "stability", training.stability ,disabled:"disabled",class:"invalid_flag",type:"hidden"%>
            </div> 
            <button type="button" class="addbutton" >追加する</button>

        </div>
      <% end %>
    </div>
  </div>
</div>


<%# 詳細ページのモーダル %>
  <div id="mask" class="hidden"></div>
  <div id="modal" class="hidden">
    <p>モーダルウィンドウ<p>
  </div>

   <!-- モーダルエリアここから -->
 <%# 部位から選択のモーダル %>
  <section id="modalArea" class="modalArea">
    <div id="modalBg" class="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        <%# ここにモーダルの詳細を記載 %>
        <div class ="render_modal">
          <%= render "menu/joint_filter_modal" %>
          <%= render "menu/position_filter_modal" %>
        </div>
      </div>
      <div id="closeModal" class="closeModal">
        ×
      </div>
    </div>
  </section>
<!-- モーダルエリアここまで -->


