<%# ヘッダー %>
<%= render "shared/header" %>

<div class="listings">
</div>

<div class="packge_main_menu">
  <%# 自主トレフォーム %>
  <div class="create-menu">
  
    
  </div >

  <%# パッケージ一覧 %>
  <div class="training-all">
    <div class ="count_index">
      <div class ="display_list"><%= @counts%></div>
      <div class ="display_counts"><%= "件表示/#{@counts}件中"%></div>
    </div>
    <div class="package">
      <% @packageall.each do |package| %>
        <%="タイトル:#{package.package_title}"%>
        <%="作成者:#{package.user.nickname}"%>
      <%end%>
    </div>
  </div>


  <%# 詳細ページのモーダル %>
  <div id="mask" class="hidden"></div>
  <div id="modal" class="hidden">
    <p>モーダルウィンドウ<p>
  </div>
</div